.criterion{
    background-color:black;
    background-size: cover;
    background-position: center center;
    display: flex;
    min-height: calc(100vh - 60px);
    margin-top:60px;
    align-items: center;
    background-attachment: fixed;
}


.criterion-element{
    background:white;
    padding:20px;
    border-bottom: 2px solid darken(red, 10%);
    border-left: 2px solid darken(red, 10%);
    box-shadow:3px 3px 5px rgba(0,0,0,0.3);
    margin:20px auto;

    .criterion-title{
        font-style: italic;
        text-align: center;
        padding-bottom:10px;
        margin-bottom:20px;
        border-bottom: 2px solid darken(red, 10%);
    }
    .criterion-text{
        strong{
            font-weight: 800;
        }
    }

    ul{
        li{
            font-weight: 800;
        }
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items:center;
        span{
            border: 2px solid darken(red, 10%);
            border-radius: 50%;
            min-height: 60px;
            min-width: 60px;
            display: flex;
            justify-content: center;
            align-items:center;
            box-shadow:3px 3px 5px rgba(0,0,0,0.3);
        }
    }
}