@keyframes moving {
    0% {
        transform: translateY(30%) translateX(-50%);
    }

    50% {
        transform: translateY(-60%) translateX(-50%);
    }

    100% {
        transform: translateY(30%) translateX(-50%);
    }
}

.anim2 {
    animation: moving 2s infinite;
}

.delay-1 {
    &::after {
        animation-delay: 0.66s !important;
    }
}


.mvp {
    margin: 20px 0 20px;

    .mvp-container {
        &.mvp-container-full{
            max-width: inherit !important;
        }

        .mvp-title {
            position: relative;
            text-align: center;
            font-weight: 800;
            margin: 0;
            padding: 30px;
            margin-bottom: 60px;
            white-space: nowrap;

            &::after {
                display: block;
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 20px 0 20px;
                border-color: darken(red, 10%) transparent transparent transparent;
                @extend .anim2
            }
        }

        .mvp-text {
            font-style: italic;
            margin: 0;
            padding: 0 20px;
            strong{
                font-weight: 800;
            }
        }

        .mvp-line {
            margin: 50px 0;
            border-top: 2px solid darken(red, 10%);
            border-bottom: 2px solid darken(red, 10%);
            height: 10px;
        }
    }
}