@keyframes movingHor {
    0% {
        transform: translateX(10%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(10%);
    }
}

.anim4 {
    animation: movingHor 3s infinite;
}


.contact{
    background-color:black;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    min-height:50vh;
    background-attachment: fixed;

    .form {
        background-color:#fefefe;
        box-shadow:3px 3px 5px rgba(0,0,0,0.5);
        padding:30px;
        border-left: 2px solid darken(red, 20%);
        border-bottom: 2px solid darken(red, 20%);


        .form-title{
            font-style: italic;
            font-size: 2em;
            text-align:center;
            margin-bottom:20px;

            strong {
                font-weight: 800;
                letter-spacing: 2px;
                border-bottom: 2px solid darken(red, 10%);

            }
        }
        .form-text{
            color: darken(red, 10%);
            text-align:center;
            font-size:0.8em;
        }

        input{
            border:none;
            border-radius: 0;
            // border-bottom: 1px solid darken(red, 20%);
            border-bottom: 1px solid darken(gray, 20%);
            background-color:#fff;
            box-shadow:3px 3px 5px rgba(0,0,0,0.3);
            padding:10px;
            height:auto;
            max-width: 300px;
            margin:auto;
        }
    
        button{
            display:block;
            font-weight: 800;
            background:#fff;
            margin: auto;
            width:100%;
            max-width: 300px;
            padding:7px 12px;
            // border: 1px solid darken(red, 20%);
            border: 1px solid darken(gray, 20%);
            box-shadow:3px 3px 5px rgba(0,0,0,0.3);
            text-transform: uppercase;
            line-height: 1.8em;
            border-radius: 10px;
            // @extend .anim4;

        svg{
            position: relative;
            top:-1px;
            margin-right:10px;
        }
        }
    }
    
}

.company {
    margin:0;
    padding:0;
    text-align: center;
    img{
        max-width:200px;
        margin-bottom:20px;
    }
    .form-title{
        margin-bottom:0;
        padding:0;
    }
    .form-text {
        margin-bottom:5px;

}
}